@import "tailwindcss";



@theme inline {
  --color-primary: #FF007F; 
  --color-gold: #C5A572; 
  --color-dark: #0D0D0D; 
  --color-light: #F5F5F5; 
  --color-grayDark: #1A1A1A; 
}

@theme{
  --animate-horizontal-slide: horizontal-slide 10s ease-in-out infinite;
  @keyframes horizontal-slide {
    0% 100%{
      transform: translateX(0);
    }
    50% {
      transform: translateX(-5%);
    }
  }
}